<%- include('./layout/boilerplate')%>
<h2>All Videos</h2>

<% for (let video of videos){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <li><a href="/contact/<%= video._id %> "> </a></li>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= video.title %> </h5>
                    
                    <video width="300" height="100" controls>
                        <source src="<%= video.videopath %> " type=video/mp4>
                    </video>
                    <p class="card-text" id="para"><%= video.description %></p>
                    <a class="btn btn-primary" href="/contact/<%= video._id %> ">View <%=video.title%></a>

                </div>
            </div>
        </div>
    </div>
    <% }%>
<div class="container">

    <ul class="list-group">
        <li class="list-group-item"><ion-icon name="logo-instagram"></ion-icon> Instagram<a href="https://instagram.com/massappealng?igshid=YmMyMTA2M2Y=">  @massappealng</a></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"><ion-icon name="logo-twitter"></ion-icon> Twitter<a href="https://twitter.com/massappealng?t=eKsOGdWikszBLPxmBlXYHA&s=09">  @massappealng</a></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"><ion-icon name="logo-facebook"></ion-icon> Facebook<a href="https://www.facebook.com/Enthype/">  @Enthype</a></li>
    </ul>
    
       

</div>
<h1>CERTIFIED TO ATTRACT</h1>
<div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t2teD6IV8js"
     title="YouTube video player" frameborder="0" 
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>

     


</div>










<%- include('./partials/footer')  %> 